.sidebar-nav {
  position: relative;
  .toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.5s all ease-in-out;
    span {
      width: 1.5rem;
      height: 3.2px;
      border-radius: 5px;
      background: var(--off-white);
      box-shadow: 0 10px 0 var(--off-white), 0 -10px 0 var(--off-white);
      transition: 0.5s;
    }
    &::after {
      background: none;
    }
    &.active {
      background: var(--primary);
      border-radius: 50%;
      span {
        transform: rotate(45deg);
        box-shadow: none;
        background: var(--white);
        &::after {
          content: "";
          width: 1.5rem;
          height: 3px;
          border-radius: 5px;
          position: absolute;
          transform: rotate(90deg);
          background: var(--white);
        }
      }
    }
    &:hover {
      transform: translate(0);
    }
  }
  .navbar {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: start;
    width: 20rem;
    height: 100vh;
    padding: 7rem 2rem 0 2rem;
    z-index: 998;
    opacity: 0;
    transform: translateY(-100%);
    transition: 1s all ease-in-out;
    .nav-links {
      width: 100%;
      height: auto;
      z-index: 1;
      .nav-item {
        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          transition: 0.3s all ease-in-out;
          overflow: hidden;
          span {
            position: relative;
            color: var(--white);
            font-size: 16px;
            font-weight: 500;
            display: inline-block;
            padding: 0 0.5rem;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              background-color: var(--primary);
              width: 0%;
              height: 1px;
              transition: 0.3s all ease-in-out;
            }
          }
          i {
            transform: translateX(0);
            transition: 0.3s all ease-in-out;
          }
        }
        &:hover,
        &.active {
          a {
            span {
              color: var(--primary);
              &::after {
                width: 100%;
                transform: translate(-50%, -50%);
              }
            }
            i {
              color: var(--primary);
              transform: translateX(110%);
            }
          }
        }
      }
    }
    .bg-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: start;
      width: 100%;
      height: 100%;
      transition: 1.4s all ease-in-out;
      span {
        background: var(--side-bg);
        width: 25%;
        display: inline;
        height: 100%;
        transform: translateY(-100%);
        backdrop-filter: blur(20px);
        opacity: 0;
        &:first-child {
          transition: 1.4s all ease-in-out;
        }
        &:nth-child(2) {
          transition: 1.1s;
        }
        &:nth-child(3) {
          transition: 0.8s;
        }
        &:nth-child(4) {
          transition: 0.5s;
        }
      }
    }
    &.active {
      opacity: 1;
      transform: translateY(0);
      .bg-wrapper {
        span {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    // .toggle {
    //   top: 1rem;
    //   right: 1rem;
    // }
    .navbar {
      width: 100%;
    }
  }
}
