<div class="home-section">
    <div class="app-container">
        <div class="home-header section-padding d-flex align-items-center">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-6">
                    <div class="header-text d-flex align-items-start justify-content-center flex-column">
                        <p class="main-para">WELCOME TO MY WORLD</p>
                        <h1>Hi, I’m <span class="text">Rahim Gopali</span></h1>
                        <h1 class="text-effect mb-3">a&nbsp;
                            <span #word class="word">front-end_developer.</span>
                            <span #word class="word">web-developer.</span>
                            <span #word class="word">web-designer.</span>
                        </h1>
                        <p class="mb-5">
                            I’m a passionate front-end developer dedicated to crafting visually
                            appealing, responsive, and user-friendly websites. With expertise in HTML, CSS, JavaScript,
                            and modern frameworks, I bring designs to life and ensure seamless user experiences. Explore
                            my work to see how I combine creativity and code to build elegant digital solutions.
                        </p>
                        <div class="social-media">
                            <ul>
                                <li><a href="https://www.facebook.com/rahim.gopali56/" class="btn-clicked"
                                        target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://github.com/RahimGopali1" class="btn-clicked" target="_blank"><i
                                            class="fa-brands fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/rahim-gopali-30256b218/" class="btn-clicked"
                                        target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="https://www.instagram.com/rahim_gpl/" class="btn-clicked"
                                        target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-end">
                        <div class="header-img">
                            <img [src]="'assets/images/pages/me-2.png'" class="rounded-circle" width="100%"
                                height="100%" alt="No image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>