.contact-section {
  .contact-content {
    .contact-form-card {
      position: relative;
      padding: 7rem 3rem;
      border-radius: 10px;
      background: var(--bg-1);
      box-shadow: var(--shadow-1);
      overflow: hidden;
      .contact-info {
        z-index: 1;
        width: 50%;
        h3 {
          color: var(--primary);
        }
        p {
          letter-spacing: 1px;
          margin-bottom: 3rem !important;
        }
        .email-holder {
          i {
            font-size: 20px;
          }
          a {
            color: var(--off-white);
            text-decoration: underline;
          }
        }
        .social-media {
          ul {
            display: flex;
            align-items: center;
            column-gap: 2rem;
            li {
              a {
                color: var(--white);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s all ease-in-out;
                box-shadow: var(--shadow-1);
                border-radius: 10px;
                transition: 0.3s;
                i {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
      .contact-form {
        z-index: 1;
        width: 50%;
        ::ng-deep {
          .mat-mdc-form-field {
            width: 100%;
            --mdc-outlined-text-field-outline-color: var(
              --off-white
            ) !important;
            --mdc-outlined-text-field-hover-outline-color: var(
              --off-white
            ) !important;
            --mdc-outlined-text-field-focus-outline-color: var(
              --off-white
            ) !important;

            --mdc-outlined-text-field-label-text-color: var(
              --off-white
            ) !important;
            --mdc-outlined-text-field-label-ink-color: var(
              --off-white
            ) !important;
            .mdc-floating-label,
            .mdc-text-field__input {
              color: var(--off-white);
            }
          }
        }
        .action-btn {
          .btn-send {
            width: 10rem;
            border: none;
            cursor: pointer;
            background-color: var(--bg-1);
            border-radius: 50px;
            box-shadow: 9px 9px 16px #1c1e22, -9px -9px 16px #262a2e;
            transition: 0.3s all ease-in-out;
            color: var(--white);
            span {
              font-weight: 500;
              text-transform: uppercase;
            }
            &:hover {
              box-shadow: inset 4px 4px 8px #1e2024, inset -4px -4px 8px #23272b;
            }
          }
        }
      }
      .card-bg-vector {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 0;
        img {
          opacity: 0.1;
          object-fit: contain;
        }
      }
      @media screen and (max-width: 992px) {
        padding: 3rem 2rem;
        .contact-info,
        .contact-form {
          width: 100%;
        }
        .contact-info {
          text-align: center;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .social-media {
            ul {
              flex-wrap: wrap;
              justify-content: center;
              li {
                margin-bottom: 1rem;
              }
            }
          }
        }
        .card-bg-vector {
          width: 50rem;
          height: 50rem;
        }
      }
    }
  }
}
