<div class="skill-card">
    <div class="progress-bar">
        <div class="percent">
            <svg width="210" height="210">
                <!-- Background Circle -->
                <circle cx="105" cy="105" r="100"></circle>
                <!-- Progress Circle -->
                <circle cx="105" cy="105" r="100" class="progress" [attr.stroke-dashoffset]="dashOffset"></circle>
            </svg>
            <div class="number">
                <h3>{{ percent }}<span>%</span></h3>
            </div>
        </div>
        <div class="title">
            <h2>{{ title }}</h2>
        </div>
    </div>
</div>