.portfolio-section {
  .portfolio-content {
    .portfolio-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .portfolio-item {
        background: var(--bg-1);
        box-shadow: var(--shadow-1);
        padding: 0.4rem;
        width: calc(33.333% - 10px);
        height: 100%;
        margin-bottom: 15px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;
        @media (max-width: 991px) {
          width: calc(50% - 20px);
        }
        @media (max-width: 767px) {
          width: calc(100% - 20px);
        }
        .portfolio-item-inner {
          position: relative;
          border-radius: 7px;
          overflow: hidden;
          .portfolio-item-image {
            height: 13rem;
            img {
              width: 100%;
              height: 100%;
              border-radius: 7px;
              object-fit: cover;
              transition: 0.5s all ease-in-out;
            }
          }
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2rem;
            height: 2rem;
            opacity: 0;
            background: #21242886;
            padding: 1rem;
            border-radius: 50%;
            transition: 0.3s all ease-in-out;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .portfolio-item-content {
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: var(--bg-4);
            padding: 30px 10px 10px 10px;
            width: 100%;
            height: auto;
            text-align: center;
            opacity: 0;
            transform: translateY(100%);
            transition: all 0.4s ease-in-out;
            h4 {
              color: var(--off-white);
              font-weight: 500;
              margin-bottom: 0;
              opacity: 0;
              transform: translateY(100%);
              transition: 0.8s all ease-in-out;
            }
          }
          &:hover {
            .portfolio-item-image {
              img {
                transform: scale(1.04);
              }
            }
            .icon {
              width: 5rem;
              height: 5rem;
              opacity: 1;
            }
            .portfolio-item-content {
              transform: translateY(0%);
              opacity: 1;
              h4,
              .portfolio-link {
                opacity: 1;
                transform: translateY(0%);
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .portfolio-content {
      .portfolio-list {
        justify-content: center;
      }
    }
  }
}
