@use "./mixins";
::selection {
  background: var(--black);
  color: var(--white);
}
body {
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: var(--bg-color);
  color: var(--off-white);
  font-family: "Raleway", serif !important;
}
a {
  text-decoration: none;
}

.app-container {
  max-width: 84rem;
  margin: 0 auto;
  padding: 0 2rem;
  @media screen and (max-width: 1200px) {
    padding: 0 0.8rem;
  }
}
.section-padding {
  padding: 5rem 0;
  @media screen and (max-width: 992px) {
    padding: 6rem 0 5rem 0;
  }
}

ul {
  @include mixins.MarPad;
}

.btn-clicked {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10px;
  cursor: pointer;
  background: var(--bg-1);
  box-shadow: var(--shadow-1);
  transition: linear 1s ease-out;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-2);
    opacity: 0;
    transition: 0.3s all ease-in-out;
    z-index: -1;
  }
  &:hover {
    // background: var(--bg-2);
    transform: translateY(-5px);
    &::after {
      opacity: 1;
    }
  }
  @media screen and (max-width: 767px) {
    width: 3rem;
    height: 3rem;
  }
}

.main-title-wrapper {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 2rem;
  .title-label {
    color: var(--primary);
    font-size: 16px;
    font-family: "Poppins", serif;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .main-title {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 3px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--primary);
  }
  @media screen and (max-width: 767px) {
    .main-title {
      font-size: 40px;
    }
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover);
}
