.resume-section {
  .resume-tab {
    ::ng-deep {
      .mat-mdc-tab-group {
        .mat-mdc-tab-header {
          overflow: visible;
          .mat-mdc-tab-label-container {
            box-shadow: var(--shadow-1);
            border: none;
            overflow: visible;
            border-radius: 10px;
            .mat-mdc-tab-list {
              .mat-mdc-tab-labels {
                background: var(--bg-1);
                border-radius: 10px;
                display: flex;
                .mdc-tab {
                  padding: 2rem 24px;
                  height: auto;
                  border-radius: 10px;
                  transition: 0.5s;
                  .mdc-tab__ripple {
                    border: none;
                  }
                  .mdc-tab__text-label {
                    color: var(--white);
                    font-size: 18px;
                  }
                  .mdc-tab-indicator__content {
                    border: none;
                  }
                  &.mdc-tab--active,
                  &:hover {
                    // box-shadow: var(--shadow-1);
                    border: none;
                    background: var(--bg-1);
                    .mdc-tab__text-label {
                      color: var(--primary);
                    }
                  }
                }
              }
            }
          }
        }
        .mat-mdc-tab-body-wrapper {
          .mat-mdc-tab-body {
            padding: 3rem 0;
            .tab-body-wrapper {
              width: 100%;
              height: 100%;
              overflow: hidden !important;
              h1 {
                text-align: center;
              }
              .timeline-wrapper {
                .timeline {
                  position: relative;
                  // margin: 50px auto 0 auto;
                  width: 100%;
                  box-sizing: border-box;
                  &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    width: 2px;
                    height: 100%;
                    background: var(--off-white);
                  }
                  ul {
                    li {
                      position: relative;
                      width: 50%;
                      padding: 20px 40px;
                      box-sizing: border-box;
                      &:nth-child(odd) {
                        clear: both;
                        &:before {
                          content: "";
                          position: absolute;
                          width: 10px;
                          height: 10px;
                          top: 24px;
                          right: -6px;
                          background: var(--primary);
                          border-radius: 50%;
                          // box-shadow: 0 0 0 3px var(--primary-dim);\
                          animation: shadow 2s infinite;
                        }
                        .time {
                          right: -165px;
                        }
                      }
                      &:nth-child(even) {
                        float: right;
                        clear: both;
                        &:before {
                          content: "";
                          position: absolute;
                          width: 10px;
                          height: 10px;
                          top: 24px;
                          left: -4px;
                          background: var(--primary);
                          border-radius: 50%;
                          // box-shadow: 0 0 0 3px var(--primary-dim);
                          animation: shadow 2s infinite;
                        }
                        .time {
                          left: -165px;
                        }
                      }
                      .content {
                        background: var(--bg-1);
                        box-shadow: var(--shadow-1);
                        padding: 2rem;
                        border-radius: 10px;
                        h3 {
                          color: var(--primary);
                          font-weight: 600;
                        }
                        p {
                          font-size: 16px;
                          color: var(--white);
                          margin: 0;
                        }
                      }
                      .time {
                        position: absolute;
                        top: 12px;
                        margin: 0;
                        padding: 8px 16px;
                        background: var(--primary);
                        color: var(--white);
                        border-radius: 18px;
                        // box-shadow: 0 0 0 3px var(--primary-dim);
                        animation: pulse 2s infinite;
                        h4 {
                          margin: 0;
                          padding: 0;
                          font-size: 14px;
                        }
                      }
                      @keyframes pulse {
                        0% {
                          box-shadow: 0 0 0 0 var(--primary-dim);
                        }
                        5% {
                          transform: scale(1.01);
                        }
                        15% {
                          transform: scale(1);
                        }
                        75% {
                          box-shadow: 0 0 0 15px rgba(57, 101, 168, 0);
                        }
                        100% {
                          box-shadow: 0 0 0 20px rgba(57, 101, 168, 0);
                        }
                      }
                      @keyframes shadow {
                        0% {
                          box-shadow: 0 0 0 4px var(--primary-dim);
                        }
                        50% {
                          box-shadow: 0 0 0 0 var(--primary-dim);
                        }
                        100% {
                          box-shadow: 0 0 0 4px var(--primary-dim);
                        }
                      }
                    }
                  }
                }
              }
              .skill-wrapper {
                .skill-item {
                  position: relative;
                  background-color: var(--bg-1);
                  box-shadow: var(--shadow-1);
                  border-radius: 10px;
                  overflow: hidden;
                  .skill {
                    .progress {
                      background-color: var(--off-white);
                      border-radius: 20px;
                      position: relative;
                      height: 20px;
                      width: 100%;
                      overflow: hidden;
                      .progress-done {
                        background: var(--bg-3);
                        box-shadow: 0 3px 3px -5px var(--primary),
                          0 2px 5px var(--primary);
                        border-radius: 20px;
                        color: var(--white);
                        font-weight: 700;
                        text-align: center;
                        height: 100%;
                        width: 0;
                        opacity: 0;
                        transition: width 1s ease-in-out,
                          opacity 0.5s ease-in-out;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .resume-tab {
      ::ng-deep {
        .mat-mdc-tab-group {
          .mat-mdc-tab-header {
            .mat-mdc-tab-label-container {
              .mat-mdc-tab-list {
                .mat-mdc-tab-labels {
                  display: flex;
                  flex-direction: column;
                  .mdc-tab {
                    padding: 2rem 24px;
                  }
                }
              }
            }
          }
          .mat-mdc-tab-body-wrapper {
            .mat-mdc-tab-body {
              .tab-body-wrapper {
                .timeline-wrapper {
                  .timeline {
                    &:before {
                      left: 20px;
                      height: 100%;
                    }
                    ul {
                      li {
                        &:nth-child(odd) {
                          width: 100%;
                          text-align: left;
                          padding-left: 50px;
                          padding-bottom: 50px;
                          &:before {
                            top: -18px;
                            left: 16px;
                          }
                          .time {
                            top: -30px;
                            left: 50px;
                            right: inherit;
                          }
                        }
                        &:nth-child(even) {
                          width: 100%;
                          text-align: left;
                          padding-left: 50px;
                          padding-bottom: 50px;
                          &:before {
                            top: -18px;
                            left: 16px;
                          }
                          .time {
                            top: -30px;
                            left: 50px;
                            right: inherit;
                          }
                        }
                      }
                    }
                  }
                  h1 {
                    font-size: 40px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
